In [39]:
import yfinance as yf
import pandas as pd
import datetime as dt
from dateutil.relativedelta import relativedelta

In [40]:
today = dt.date.today()
lookback = today - relativedelta(years=10)
holding = today - dt.timedelta(weeks=4)
# .strftime('%d-%m-%Y')

In [41]:
tickers = ['GOOG', 'NVDA','META','EQX']

# Note that these are non-overlapping dataframes
dataLookbackFull = yf.download(tickers, start=lookback, end=holding, auto_adjust=True)['Close']
dataHolding = yf.download(tickers, start=holding, end=today, auto_adjust=True)['Close']

[*********************100%%**********************]  4 of 4 completed
[*********************100%%**********************]  4 of 4 completed

In [42]:
dataLookbackFull

Ticker       EQX        GOOG        META        NVDA
Date
2014-03-10   NaN   30.176142   71.953651    4.285752
2014-03-11   NaN   29.887724   70.025703    4.328396
2014-03-12   NaN   30.069792   70.804871    4.340243
2014-03-13   NaN   29.615494   68.757050    4.202833
2014-03-14   NaN   29.210512   67.648224    4.221786
...          ...         ...         ...         ...
2024-02-05  4.41  144.929993  458.923065  693.287476
2024-02-06  4.47  145.410004  454.238037  682.197998
2024-02-07  4.36  146.679993  469.092285  700.957092
2024-02-08  4.33  147.220001  469.501862  696.377319
2024-02-09  4.31  150.220001  467.613831  721.296204

[2499 rows x 4 columns]

In [ ]:
dataLookbackFull[dataLookbackFull.EQ]

In [ ]:
# We can need to take into account the correlations between the other assets in our portfolio when 
# We do imputation i.e. Multivariate time series imputation. One could use Vector Auto Regressive 
# Model. This is a regression that fits the entire time series and considers cross correlations
# In order to use VAR models, we would need to make all our time series stationery before we could
# Implement them. Hesitant to use a recurrent neural network (or any neural network) given the 
# their black box nature. Spatio-temporal factoring methods could be good here. There is a good 
# Python implementaion of Multivariate Singular Spectrum Analysis (mSSA). The spatial component 
# is the correlation across all the time series. Hoping that this can capture how the correlation 
# changes over time - markets tend to be more correlated during periods of market stress. Another 
# is that mSSA requires less prep time to make it work - VAR method must ensure that time series is 
# an autoregressive process via transformations. VAR just seems like a lot of work for an interview
# question. Will investigate all possible methods a later date when I have time.