In [25]:
# Import the required libraries 

import pandas as pd # Make sure that you have openpyxl installed so that you can open newer excel files
import numpy as np
import plotnine as p9
import plotnine3d as p3d
import datetime
import os 
from zipfile import is_zipfile, ZipFile

In [26]:
inputFilesDir = "inputData/"
unzippedFilesDir = "unzippedFiles/"

In [27]:
def extractFolder(inputFilesDir,unzippedFilesDir):
    for file in os.listdir(inputFilesDir):   # get the list of files
        if is_zipfile(inputFilesDir+file): # if it is a zipfile, extract it
            with ZipFile(inputFilesDir+file) as item: # treat the file as a zip
                item.extractall(unzippedFilesDir)  # extract it into a new folder

def cleanTermStructureSheet(filename,foldername,sheetName):
    df = pd.read_excel(foldername+filename, sheet_name=sheetName, header=1, engine='openpyxl')
    df.drop(['Unnamed: 0'], axis=1, inplace=True) # Blank column - artifact of the dataset
    df = df.iloc[8:,:] # Dropping all unnessary columns 
    df.rename(columns={"Main menu": "Tenor"}, inplace=True)
    df.set_index("Tenor", inplace=True)
    return df

def getDateFromFileName(filename):
    dateString = t.split('_')[2]
    yearString = dateString[:4]
    monthString = dateString[4:6]
    dayString = dateString[6:]
    return datetime.date(int(yearString),int(monthString),int(dayString))

def getCountrieslist(inputFilesDir):
    return pd.read_csv(inputFilesDir+"countries.csv").columns.to_list()

def getFilteredFileList(unzippedFilesDir,fileType,sheetName):
    allFiles = os.listdir(unzippedFilesDir)
    filteredList = [file for file in allFiles if fileType in file]
    return filteredList

In [30]:
inputFilesDir = "inputData/"
unzippedFilesDir = "unzippedFiles/"
allFiles = os.listdir(unzippedFilesDir)
fileType = "Term_Structures"
sheetName = "RFR_spot_no_VA"
filteredList = [file for file in allFiles if fileType in file]

countryTermstucture = {}

for file in filteredList:
    pass

In [31]:
t = 'EIOPA_RFR_20231231_Term_Structures.xlsx'
df = pd.read_excel(unzippedFilesDir+t, sheet_name=sheetName, header=1, engine='openpyxl')
df.drop(['Unnamed: 0'], axis=1, inplace=True) # Blank column - artifact of the dataset
df = df.iloc[8:,:] # Dropping all unnessary columns 
df.rename(columns={"Main menu": "Tenor"}, inplace=True)
df.set_index("Tenor", inplace=True)
df.head(10)

,Euro,Austria,Belgium,Bulgaria,Croatia,Cyprus,Czech Republic,Denmark,Estonia,Finland,...,Malaysia,Mexico,New Zealand,Singapore,South Africa,South Korea,Taiwan,Thailand,Turkey,United States
Tenor,,,,,,,,,,,,,,,,,,,,,
1,0.03357,0.03357,0.03357,0.03307,0.03357,0.03357,0.05185,0.03347,0.03357,0.03357,...,0.032,0.11208,0.05227,0.03214,0.08239,0.03473,0.00912,0.02247,0.39336,0.0476
2,0.0269,0.0269,0.0269,0.0264,0.0269,0.0269,0.04144,0.0268,0.0269,0.0269,...,0.03343,0.09958,0.04577,0.02828,0.07866,0.03171,0.00949,0.02319,0.35672,0.04056
3,0.02439,0.02439,0.02439,0.02389,0.02439,0.02439,0.03678,0.02429,0.02439,0.02439,...,0.03437,0.09258,0.04248,0.02654,0.07873,0.03005,0.00976,0.02429,0.31173,0.03724
4,0.0235,0.0235,0.0235,0.023,0.0235,0.0235,0.03489,0.0234,0.0235,0.0235,...,0.03519,0.08838,0.04078,0.02589,0.07995,0.02959,0.01,0.02525,0.27492,0.03571
5,0.02323,0.02323,0.02323,0.02273,0.02323,0.02323,0.03405,0.02313,0.02323,0.02323,...,0.03591,0.0865,0.03994,0.02563,0.08208,0.02926,0.01022,0.02593,0.24777,0.03499
6,0.02321,0.02321,0.02321,0.02271,0.02321,0.02321,0.0337,0.02311,0.02321,0.02321,...,0.03652,0.08589,0.03979,0.02553,0.08532,0.02906,0.01042,0.02648,0.22987,0.03464
7,0.02331,0.02331,0.02331,0.02281,0.02331,0.02331,0.03359,0.02321,0.02331,0.02331,...,0.03701,0.08583,0.03994,0.02552,0.08864,0.02901,0.01059,0.02698,0.21925,0.03449
8,0.02349,0.02349,0.02349,0.02299,0.02349,0.02349,0.03361,0.02339,0.02349,0.02349,...,0.03746,0.08594,0.04018,0.02558,0.09174,0.02905,0.01075,0.02755,0.21436,0.03443
9,0.0237,0.0237,0.0237,0.0232,0.0237,0.0237,0.03369,0.0236,0.0237,0.0237,...,0.03782,0.08599,0.04047,0.02568,0.09462,0.02912,0.01088,0.02821,0.21379,0.03444
10,0.02393,0.02393,0.02393,0.02343,0.02393,0.02393,0.03379,0.02383,0.02393,0.02393,...,0.03822,0.08585,0.0408,0.02582,0.09724,0.02917,0.01102,0.0289,0.21358,0.03449

In [32]:
dateString = t.split('_')[2]
yearString = dateString[:4]
monthString = dateString[4:6]
dayString = dateString[6:]
dayString
datetime.date(int(yearString),int(monthString),int(dayString))

datetime.date(2023, 12, 31)

In [33]:
y = "01"
int(y)

1

In [34]:
# countries = np.array(df.columns.to_list())
# countries.tofile("countries.csv",",")